*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
db
tandt
tandt_db.zip
*/_pycache_/
*.png
fpslog.txt
*.dump

fovealnet/logs
fovealnet/results*
fovealnet/predictions.txt
predictions.txt
predictions_*.txt
parallel_track_render_timertest.py
parallel_track_render.py
parallel_test.py
*.json
fovealnet/error_stat/
*.csv
*.txt
original_render*
user_study
tune_layers*.pdf